*{
    margin:0px;
    padding:0px;   
}

body{
    
    background-color:white;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin: 50px;
}
#logo{
    text-align: center;
}
#header{
  background-color:#543e5c;
   margin:auto;
				font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    float: left;
   
}

ul,ol{
    list-style: none;
    
}
.nav> li{
    float: left;
    
}
.nav li a{
    background-color: #543e5c;
    color:#fff;
    text-decoration: none;
    padding: 15px 90px ;
    display: block;
    
}
.nav li a:hover{
    background-color: #302036;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover>ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -140px;
    top:0px;
}
.texto{
    text-align: left;
}
table{
    background-color: #fff0f8;
    border:0px;
    margin-right: 50px;
}
.dos{
    background-color: #ffc2e9;
    
}